.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero img {
  width: 100%;
  height: auto;
  border-bottom: 5px solid #D0B813;
}

.data{
  display: grid;
  justify-content: center;
  background-color: #bbbbbb9f;
  margin-top: -.3rem;
}

h1 {
  background-color: #0B6E2E;
  border-bottom: 15px solid #D0B813;
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: 900;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.data h2 {
  text-align: center;
}

.dataPiece {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .5rem;
  padding: 0rem 1rem;
}

.weather {
  display: grid;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: #bbbbbb9f;
  border-top: 2px solid #D0B813;
}

.weather h2 {
  text-align: center;
}

.weatherData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .5rem;
  padding: 0rem 1rem;
}

.weather h2::after {
  content: url('../images/weather.svg');
  display: block;
  width: 60px;
  margin: 10px auto 0;
}

label {
  min-width: 120px;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

footer {
  background-color: #0B6E2E;
  padding: .5rem;
}

span {
  text-align: left;
}

footer p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: white;
  padding-bottom: .5rem;
}

#lastModified {
  margin-top: 0rem;
}