* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header, footer {
  background-color: #174E70;
  color: white;
  font-weight: bold;
}

header {
  padding: 20px;
  text-align: center;
}

header h1 {
  padding-bottom: 20px;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
  color: white;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
	color: #fff;
}

nav a{
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

.open a {
  display: block;
}

main {
  display: grid;
  text-align: center;
  max-width: 1800px;
}

main h2 {
  padding: 30px;
}

figcaption {
  padding-bottom: 30px;
}

footer {
  padding: 10px;
  text-align: center;
}