@media (min-width: 800px) {

  #menu {
    display: none;
  }

  nav {
    flex-direction: row;
  }

  nav a {
    display: block;
    flex: 1 1 100%;
  }

  nav a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main h2 {
    grid-column: 1/4;
    text-align: center;
  }

  figure {
    
  }
}